
*{
    box-sizing: border-box;
}

body{
    padding:0px;margin:0px
}

.list{
    width:100%;
    height:65px;
    background-color: rgba(248, 248, 248, 0.541);
    position:fixed;
    top:0px;
    z-index:3 ;
    display: inline-block;
COLOR:BLACK;
}

.container{
    width:100%;
    height:5000px;
    margin:auto;
    background:rgb(182, 182, 182) url(../imgs/images.jpg);background-size:100% 100%;
    justify-content: center;
    z-index:1;
    perspective: 7000px;
    padding-top:10px
}

.container .card{
    width:300px;
    height:300px;
    background:rgba(211, 17, 17, 0.253);
    position: relative;
    margin:60px;
    transform-style:preserve-3d;
    transition:all 1.5s ease-in-out;
    display: inline-block;
    perspective: 7000px;
}

.container .card .face{
    width:100%;
    height:100%;
    text-align: center;
    font-size: 35px ;
    padding-top:40px;
    color:black;
    font-weight: bold;
    margin:auto;
    background:red;
    position:absolute;
    z-index:2;
    backface-visibility: hidden;
    border-radius: 30px;
    perspective: 7000px;
}

.container .card .back{
    width:100%;
    height:100%;
    text-align: center;
    font:black 35px ;
    margin:auto;
    background:rgb(102, 102, 170);
    z-index:1;
    position: absolute;
    transform: rotatey(180deg);
backface-visibility: hidden;
border-radius: 30px;
perspective: 7000px;
}


.container .card:hover{
    transform:rotatey(180deg);transition:all 1.5s ease-in-out;
}

a img{
    width:200px;
    height:200px;
    border-radius: 50%;
    padding-top:50px;
    transition: all 0.7s;
    perspective: 711px;
    perspective: 7000px;
}
p{
    opacity:0.7;
    color:rgb(16, 12, 247);
padding-top:50px
}

.container .card .back a img:hover{
    transform: translatez(500px);transition: all 0.7s;
}

input{
    margin:-20px 0 0 1010px;
    width:300px;
    height:30px;
    DISPLAY:INLINE-BLOCK
}

SPAN{
    padding:20px 0 0 20px 
}
.div{
    padding:15px 0 0 30px;
    display: inline-block;
    color:black;
    font-size: 30px;
}
.x{
    padding:0px 0 0 5px;
    display: inline-block;
    position:absolute;
    top:22px;
    right:20px
}  

.gg{
    padding-top:20px;
    font-size:30px;
    color:blue
}